body {
    width: 1080px;
    height: 760px;
    background-color: #BBCD98;
    margin-left: auto;
    margin-right: auto;
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 26px;
    display: block;
    border-collapse: collapse;
}
table {
    margin-left: auto;
    margin-right: auto;
    border: 4px solid;
}
td {
    border: 4px solid;
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    width: 850px;
}
tr#headerR {
    background-image: url("../images/headerR.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: -5px -2px 3px gray, 10px 10px 5px brown;
}
ul#link li {
    display: inline;
    margin-right: 20px;
    color: #AA98CD;
    font-weight: bold;
    background-color: #AA98CD;
    padding: 5px;
    text-decoration: none;
}
tr#leftCol {
    background-color: #AA98CD;
    border: 4px solid;
}
ul#nav li {
    display: block;
    font-weight: bold;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
    text-decoration: none;
}
td#buttons {
    border: none;
    padding: 10px;
}