@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/* * {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
} */

:root {
  /* --color1: #1B2430; */
  --color1: black;
  --color2: #51557E;
  --color3: #816797;
  --color4: #D6D5A8;
}

/* #414141 */
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: white;
  max-width: 100%;
  overflow-x: hidden;
  width: 100wh;
  height: 100%;
  color: #fff;
  background: linear-gradient(-45deg, #434343, #000000, #2D3436, #000000);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  background-color: var(--color1);
  /* padding-top: 60px; */
  overflow-y: scroll;
  margin-bottom: 5vh;
}

.nav {
  background-color: var(--color1);
  color: white;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.site-title {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  /* gap: 1rem; */
}
/* replaces gap */
.nav ul > * + * { margin-left: 1rem;}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.nav li {
  padding-bottom: 10px;
  border: solid 2px transparent;
}

.nav li:hover {
  background-color: var(--color1);
  border-radius: 25%;
  border: solid 2px black;
  padding-bottom: 10px;

}

.nav li.active {
  color: black;
  background-color: var(--color4);
  border-radius: 25%;
  border: solid 2px black;
  padding-bottom: 10px;
}

h1 {
  margin-top: 1rem;
  text-align: center;
}

/* Home Page */

/* Box to keep blinker from going to edge of page */
.typeBox {
  display: inline-block;
  /* border: red solid 10px; */
  overflow-wrap: normal;
}

/* Typewriter for h1 */
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end 4.75;
}

/* Typewriter for h3 */
.typewriter2 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  visibility: hidden;
  animation: 
    hide-second 3.5s infinite,
    typing 2s steps(40, end),
    blink-caret2 .75s step-end 3;
  animation-delay: 3.5s;
}

.typewriter3 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  visibility: hidden;
  animation: 
    hide-third 5.5s infinite,
    typing 2s steps(40, end),
    blink-caret3 .75s step-end infinite;
  animation-delay: 5.5s;
}

/* The typing effect */
@keyframes typing {
  from { width: 0; }
  to { width: 100% }
 
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
  100% { border-color: transparent }
}

@keyframes blink-caret2 {
  from, to { border-color: transparent }
  50% { border-color: orange; }
  100% { border-color: transparent }
}

@keyframes blink-caret3 {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

/* Hides content until h1 has loaded then displays h3 */
@keyframes hide-second {
  from, to { visibility: hidden; }
  50% { visibility: visible; }
  100% { visibility: hidden; }
}

/* Hides content until h1 has loaded then displays h3 */
@keyframes hide-third {
  from, to { visibility: hidden; }
  50% { visibility: visible; }
}

/* Loads Icons Later */
/* .social {
  visibility: hidden;
  overflow: hidden;
  animation: 
  loadIcons 3s ease-in 8s forwards;
}

@keyframes loadIcons {
  from, to { visibility: hidden; }
  50% { visibility: visible; }
  100% { visibility: visible; }
} */

/* .socialBox {
  position: absolute;
  bottom: 10vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center
} */

/* Animation For background */
@-webkit-keyframes Gradient {
  0% {
  background-position: 0% 50%
  }
  50% {
  background-position: 100% 50%
  }
  100% {
  background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
  background-position: 0% 50%
  }
  50% {
  background-position: 100% 50%
  }
  100% {
  background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
  background-position: 0% 50%
  }
  50% {
  background-position: 100% 50%
  }
  100% {
  background-position: 0% 50%
  }
}

.box {
  position:absolute;
  width:300px;
  height:50px;
  /* background:#063; */
  bottom:0px;
  right:25%;
  left:50%;
  margin-left:-150px;
  text-align: center;
}

.btn-primary {
  background-color: transparent !important;
  border-color: #8064A2 !important;
  /* background-color: #8064A2 !important;
  border-color: #8064A2 !important; */
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: orange !important;
  border-color: orange !important;
}

.person {
  --transfrom-speed: 550ms;
  position: relative;
  max-width: 15rem;
  margin-inline: auto;
}

.containerMe {
  display: grid;
  align-items: end;
  overflow: hidden;
  border-radius: 0 0 100vw 100vw;
  aspect-ratio: 1 / 1.35;
  transition: transform var(--transfrom-speed) ease-in-out;
  margin-bottom: 5rem;
}

.containerMe:hover {
  transform: scale(1.1);
}

.containerMe:hover .imgMe {
  transform: 
  scale(1.05)
  translateY(-1rem);
}

.circle {
  background-color: #fee7d3;
  border-radius: 50%;
  position: absolute;
  width: 100%;
  aspect-ratio: 1 / 1;
  margin-inline: auto;
  object-fit: cover;
  inset: auto 0 0;
}
.imgMe {
  position: relative;
  z-index: 2;
  right: 7rem;
  bottom: 5rem;
  /* transform: scale(1.4); */
  transition: transform calc(var(--transfrom-speed) * 1.2) ease-in-out;

}
/* .name {
  color: #404245;
  font-size: 36px;
  font-weight: 600;
  margin-top: 16px;
  text-align: center;
}
.title {
  color: #6e6e6e;
  font-family: arial;
  font-size: 14px;
  font-style: italic;
  margin-top: 4px;
} */
@media only screen and (max-width:767px) {
  .resources {
    margin-top: 3vh;
  }
  
  .picAndType {
    margin-top: 3.75vh;
  }
  .containerMe {
    margin-bottom: 1rem;
  }
  .containerMe:hover {
    transform: scale(1.005);
  }
  
  .containerMe:hover .imgMe {
    transform: 
    scale(1.005)
    translateY(-0.75rem);
  }
}


@media only screen and (min-width:768px) {
  .picAndType {
    margin-top: 20vh;
  }
  .containerMe {
    margin-bottom: 12.5vh;
  }
  .resources {
    margin-top: 10vh;
  }
}